.social-top .yui-button
{
   margin: auto 0;
}

.social-top .empty
{
   padding: 4px 8px 4px 64px;
}

.social-top .empty div
{
   line-height: 1.5em;
   padding-top: 1em;
}

.social-top .score
{
	
}


